Body
{
    background-color: #ffc872;
    font-family: Tenor sans;
    font-size: 50pt;
    font-weight: normal;
    color: #222222;
    line-height: 1.4;
}

a
{
    font-family: archivo black;
    color: #05a572;
}

div
{
    margin: 100px 60px;
}

section
{
    margin-left: 80px;
    margin-right: 80px;
}
